.container {
  display: flex;
  font-family: roboto;
  height: 100%;
}


.sidebar {
  text-align: center;
  width: 200px;
  height: 100vh;
  position:fixed; 
  background-color: #523a64;
  @media (max-width: 900px) {
    display: none;
  } 
}
.logodiv{
  padding-top: 66px;
  padding-bottom: 80px;
}
.maincontent {
  margin-left: 200px; 
  width: calc(100% - 200px);
  @media (max-width: 900px) {
    margin-left: 60px; 
    width: calc(100% - 60px);
  }
  @media (max-width:400px) {
    margin-left: 40px; 
    width: calc(100% - 40px);
  }
}
.containerinfo{ 
  width: calc(100% - 100px);
  margin-right: 50px;
  margin-left: 50px;
  @media (max-width:560px) {
    width: calc(100% - 60px);
    margin-right: 15px;
    margin-left: 15px;
}
@media (max-width:400px) {
  margin-right: 5px;
  margin-left: 5px;
}
}

.link {
  transition: transform 0.3s;
  justify-content: right;
  color: #fff;
  font-size: 24px;
  font-family: roboto;
  text-decoration: none;
}
.link:hover{
  transition: transform 0.3s;
  transform: scale(1.1);
  color:#D45B78;
}
.strip {
  height: 3px;
  background-color: #422d53;
}
.sidebarbig {
  width: 204px;
  background-color: #d75c78;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p{
    margin: 0;
       
}
.sidebarsmall{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.h1{
  font-size: 36px;
}
.topdiv{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width:1000px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    
  }
}
.logoutdiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout{
  width: 93px;
  height: 33px;
  background-color: transparent;
  border: 2px solid #D45B78;
  color: #D45B78;
  margin-left: 15px;
  @media (max-width:560px) {
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
  }
}
.seconddiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  @media (max-width:1000px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    margin-bottom: 50px;
  }
}
.search{
  background-color: #D9D9D9;
  width: 195px;
  height: 36px;
  border-radius: 18px;
  border: none;
  text-align: center;
  @media (max-width:1000px) {
margin-top: 20px;    
  }
}
.balance{
  background-color: #523A64;
  width: 522px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 18px;
  float: right;
  @media (max-width:1150px) {
    font-size: 14px;
    width: 400px;
  }
  @media (max-width:560px) {
    
    width: 300px;
  }
  @media (max-width:400px) {
    font-size: 12px;
    width: 270px;
  }

}
.tocen{
  width: 99px;
  height: 26px;
  background-color: #D45B78;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.balancebutton{
  transition: transform 0.3s;
  text-decoration:none;
  color: #fff;
  font-weight: bold;
}
.balancebutton:hover{
  transition: transform 0.3s;
  transform: scale(1.1);
  color: #D45B78;
}
.productcard{
background-color: #D9D9D9;
display: flex;
border-radius: 50px;
border: none;
height: 300px;
margin-bottom: 30px;
}             
.cardcontainer{
  width: calc(100% - 80px);
margin: auto;
}
.username{
font-size: 20px;
@media (max-width:800px) {
  font-size: 16px;
}
}
.productname{
  font-size: 24px;
  @media (max-width:800px) {
    font-size: 20px;
  }
}
.date{
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
.audio{
 
  color: #fff;
  width: calc(100% - 95px);
  @media (max-width:800px) {
    width: 100%;
  }
  
}
.audio::-webkit-media-controls-panel {
  background-color: #D75C78; 
  color:#fff;
}
.description{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  max-height: 100px;
  overflow: auto;
  @media (max-width:800px) {
    max-height: 70px;
  }
}

.topdivpc{
  display: flex;
  flex-direction: row;
  @media (max-width:800px) {
    flex-direction: column;
  }
  
}
.topdiv1pc{
margin-left: 20px;
margin-right: 50px;
@media (max-width:800px) {
  margin-right: 0;
}
}
.audiodiv{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.aboutuser{
  display: flex;
  flex-direction: row;
}
