.mobileHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  z-index: 100;
  background-color: #523A64;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  @media (max-width:400px) {
    width: 40px;
  }
}

// .logodiv {
//   display: flex;
//   margin: 0 auto;
// }

// .cartdiv {
//   display: flex;
//   padding: 15px;
// }

.burgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 30px;
  @media (max-width:400px) {
    padding: 20px;
  }
}
.logoburg{
  @media (max-width:400px) {
    width: 16px;
    height: 16px;
  }
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #523A64;
  color: #fff;
  display: none;
  flex-direction: column;
  align-items: center;

  div {
      width: 100%;
      justify-content: center;
      align-items: center;
  }
}

.open {
  display: flex;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}

.text {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;

  
}

@media (min-width: 900px) {
  .mobileHeader {
      display: none;
  }

  .nav {
      display: none;
  }
}